<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload and Process Image</title>
</head>
<body>
    <h1>Upload and Process Image</h1>
    <form method="post" enctype="multipart/form-data">
        <input type="file" name="file"><br>
        <label for="effects">Select Effect:</label><br>
        <select name="effect" id="effects">
            {% for effect in effects %}
                <option value="{{ effect }}">{{ effect }}</option>
            {% endfor %}
        </select><br><br>
        <input type="submit" value="Upload">
    </form>
</body>
</html>

